/* >>>> MAIN BODY STYLES <<<< */
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #000000;
  max-height: 3em;
}
/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  /*  padding-top: 5px;*/
  /*  padding-bottom: 5px;*/
  margin: 0px;
}
/* Change color on hover */
.topnav a:hover {
  background-color: lightgrey;
  color: black;
}
.topnav button {
  display: inline-block;
  float: right;
  font-family: "trade-gothic-next", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  text-align: center;
  transform: translate(-20%, 15%);
/*  margin-left: 5px;*/
  margin-right: 5px;
  border-radius: 0em;

}

.topnav button:hover {
  background-color: black;
  color: white;
  font-weight: 700;
  border: solid 1px #999;
}

.flex-container {
  display: flex;

}

/* Style the content */
.header {
  display: flex;
  background-color: #ddd;
  text-align: center;
  padding: 1px;
  flex-direction: column;
  justify-content: center;
}
/* Results display div area */
.ResultDisplay {
  text-align: center;
  background-color: pink;
}
#Results {
  text-align: center;
}
#Rolls {
  text-align: center;
}
.container {
  color: black;
}
.topnav h4 {
  color: white;
  font-family: "orpheus-pro-condensed", sans-serif;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 700;
  padding-left: 0.75em;
  transform: translate(0%, -50%);
}
td {
	margin: 1px;
	text-align: center;
	font-family: "trade-gothic-next", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.td.smaller {
  font-size: 0.9em;
  text-align: right;
}
.td.bold {
  font-size: 1.1em;
  font-weight: 700;
  text-align: right;

}

/* >>>> RADIO BUTTONS <<<< */
.skillbuttons label {
  border-radius: 2em;
  border: solid 2px black;
  color: black;
  display: inline-block;
  font-family: "trade-gothic-next", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-align: center;
  transition: all 0.3s;
  width: 120px;
  margin: 3px;
	background-color: white;
}
.skillbuttons input[type="radio"] {
  display: none;
}
.skillbuttons input[type="radio"]:checked + label {
  background-color: black;
  color: white;
  font-weight: 700;

}
.skillbuttons input[type="radio"]:hover + label {
  background-color: black;
  color: white;
  border: solid 2px #999;

}
p {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button {
  background-color: white;
  border-radius: 2em;
  border: solid 2px black;
  color: black;
  display: inline-block;
  font-family: "trade-gothic-next", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  position: static;
  text-align: center;
  transition: all 0.3s;
/*  max-width: 110px;*/
  margin: 3px;
}
button:hover {
  background-color: black;
  border: solid 2px #999;
  color: white;
  font-style: normal;
  font-weight: 700;
}
.menu {
  border-radius: 2em;
  border: solid 2px black;
  color: black;
  display: inline-block;
  font-family: "trade-gothic-next", sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: center;
  transition: all 0.3s;
  width: 120px;
  margin: 3px;
}

#GauntletMenu {
  width: 180px;
}

.menu:hover {
  background-color: black;
  border: solid 2px #999;
  color: white;
  font-style: normal;
  font-weight: 700;
}


.number-entry {
  font-family: "open-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em;
  text-align: center;
  border-radius: 2em;
  margin: 3px;
}
.roll {
  background-color: white;
  font-weight: 700;
  font-style: normal;
  width: 180px;
  margin: 2px;
  font-size: 1.5em;
  height: 2em;
}

.reroll {
  width: 90px;
  height: 2.5em;
  line-height: 70%;
  vertical-align: middle;
  font-size: 1em;

}

/* >>>> TEXT-ONLY CHECKBOX <<<< */
.switch {
  position: relative;
  visibility: hidden;
  opacity: 0;
  margin: 3px;

}
input[type=checkbox] + label {
  border-radius: 2em;
  border: solid 2px #000;
  color: black;
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  height: 1em;
  padding: 5px;
  text-align: center;
  transform: translate(-15px, 0);
  transition: all 0.3s;
  min-width: 100px;
  min-height: 1.1em;
	background-color: white;
}
input[type=checkbox]:checked + label {
  background-color: black;
  color: white;
  font-weight: 700;
  border: solid 2px black;
}
input[type=checkbox]:hover + label {
  background-color: black;
  color: white;
  font-weight: 700;
  border: solid 2px #999;
}
#Results {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
}
#Rolls {
  font-family: "trade-gothic-next", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
/* >>>> column layout <<<< */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
}
.column .centre {
    align-items: center;
}
.blue-column {
  background-color: blue;
}
.green-column {
  background-color: green;
}
.pink-row {
  background-color: pink;
}
.wrapper {
/*	margin: 15px;*/
	background-color: white;
}

.hide {
/* Removes element from window */
  display: none;
}

.invisible {
/* Removes element from window */
  visibility: hidden;
}

.unhide {
/* Removes element from window */
  display: inline-block;
}

.visible {
/* Removes element from window */
  visibility: visible;
}


/* >>>> MEDIA QUERIES <<<< */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: lightgrey;
  }

  .topnav a {
    float: none;
    width: 100%;
  }

      #maintitle {
      display: none;
    }

    .topnav {
      position: sticky;
    }

}


/* >>>> iPhone 6, 6S, 7 and 8 <<<< */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    #maintitle {
      display: none;
    }

    .topnav {
      position: sticky;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    #maintitle {
      display: none;
    }

    .topnav {
      position: sticky;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    #maintitle {
      display: none;
    }

    .topnav {
      position: sticky;
    }

}